// import files

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('../node_modules/@fortawesome/fontawesome-free/css/all.css');
// Global variables 

$breakpoint-laptop: 1140px;
$breakpoint-sm-laptop: 992px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;

// Global styles

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

// Common Styles

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: $breakpoint-laptop) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: $breakpoint-sm-laptop) {
    .container {
        max-width: 960px;
    }
}

@media (max-width: $breakpoint-tablet) {
    .container {
        max-width: 720px;
    }
}

@media (max-width: $breakpoint-mobile) {
    .container {
        max-width: 540px;
    }
}

.btn {
    padding: 15px 30px;
    border-top-right-radius: 30px;
    border: none;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn-dark {
    background-color: #000;
    a {
        color: #fff;
        text-decoration: none;
    }
    i {
        color: #FFAC12;
    }
}

.btn-org {
    background-color: #FFAC12;
    a {
        color: #000;
        font-weight: 600;
    }
    i {
        color: #fff;
    }
}

hr {
    width: 169px;
    height: 4px;
    background-image: linear-gradient(to right, #FFAC12,#271A00);
    border: none;
}

ul {
    list-style: none;
}


// Header Section styles

.header {
    position: relative;
}

.nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 10%;
    z-index: 111;
    transition: all 0.5s;

    .header-logo img {
        width: 150px;
    }

    .nav-menu {
        display: flex;
        align-items: center;
        .nav-item {
            display: inline;
            padding-right: 40px;
            &.work-with {
                background-color: #FFAC12;
                padding: 15px 30px;
                border-top-right-radius: 30px;
                a{
                    color: #000;
                }
                i {
                    color: #fff;
                }
            }
            .nav-link {
                text-decoration: none;
                font-size: 16px;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 1px;
                font-weight: 400;
                color: #fff;
            }
        }
    }
}

.header--sticky .nav {
    width: 100%;
    left: 0;
    padding: 0 10%;
    background-image: linear-gradient(
        45deg
        , black, #271A00);
    box-shadow: 0 32px 34px rgba(0, 0, 0, 0.137);
    
    .header-logo img {
        width: 120px;
    }
}

.nav-other {
    width: 100%;
    height: 150px;
    background-image: linear-gradient(
        45deg
        , black, #271A00);
}

.header--sticky .nav-other {
    width: 100%;
    height: 110px;
    background-image: linear-gradient(
        45deg
        , black, #271A00);
}

.nav-dark {
    width: 100%;
    left: 0;
    padding: 0 10%;
    background-color: #271A00;
    box-shadow: 0 32px 34px rgba(0, 0, 0, 0.137);
    
    .header-logo img {
        width: 120px;
    }
}

.banner {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

    .see-all-listings {
        position: absolute;
        width: 80%;
        left: 10%;
        padding: 30px 30px;
        background-color: #fff;
        bottom: 0;
        a {
            text-decoration: none;
            color: #000;
        }
        h3 {
            font-size: 22px;
            cursor: pointer;
            i {
                color: #FFAC12;
                margin-left: 15px;
            }
        }
    }

    .banner-content {
        position: absolute;
        width: 80%;
        left: 10%;
        top: 20%;
        h1 {
            width: 500px;
            color: #fff;
            letter-spacing: 1px;
            font-size: 82px;
        }
        p {
            width: 500px;
            color: rgb(241, 241, 241);
            letter-spacing: 1px;
            line-height: 25px;
        }
    }

    .banner-tunic {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1))!important;
        z-index: 0;
    }
}

// Info Banner section

.info-banner {
    width: 100%;
    height: 674px;
    background-image: linear-gradient(
        45deg
        , black, #271A00);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 50px;
        color: #fff;
        margin-top: 30px;
    }
    p {
        width: 428px;
        text-align: center;
        font-size: 20px;
        color: #fff;
        opacity: 0.6;
        margin-top: 30px;
    }
    button {
        padding: 20px 35px;
        margin-top: 30px;
        a{
            letter-spacing: 1px;
            margin-right: 10px;
            font-size: 17px;
        }
    }
}

// Good Hands section

.good-hands__left {
    padding-top: 100px;
    min-height: 580px;
    height: auto;
    .good__content {
        width: 90%;
        height: auto;
        margin-bottom: -100px;
        
        img {
            width: 50%;
            border-top-right-radius: 57px;
            float: left;
            box-shadow: 0 62px 54px rgba(0, 0, 0, 0.3);
        }
    }

    .good__text {
        width: 474px;
        height: 500px;
        float: left;
        margin-left: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h1 {
            margin-top: 30px;
            font-size: 50px;
        }

        p {
            margin-top: 30px;
            font-size: 20px;
            letter-spacing: 1px;
            opacity: 0.6;
        }

        button {
            margin-top: 30px;
            a {
                font-size: 17px;
            }
        }

    }
}

.good-hands__right {
    min-height: 580px;
    height: auto;

    .good__content {
        width: 90%;
        height: auto;
        float: right;
        margin-bottom: -100px;
        
        img {
            width: 50%;
            border-top-left-radius: 57px;
            float: right;
            box-shadow: 0 62px 54px rgba(0, 0, 0, 0.3);
            margin-top: -100px;
        }
    }
    .good__text {
        width: 474px;
        height: 500px;
        float: left;
        margin-left: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        h1 {
            margin-top: 30px;
            font-size: 50px;
        }

        p {
            margin-top: 30px;
            font-size: 20px;
            letter-spacing: 1px;
            opacity: 0.6;
        }

        button {
            margin-top: 30px;
            a {
                font-size: 17px;
            }
        }

    }

    
}

// Choice Places section

.choice-place {
    width: 100%;
    padding-top: 250px;
    padding-bottom: 250px;
    background-color: #F5F5F5;

    .choice__title {
        width: 80%;
        margin: 0 auto;
        
        h1 {
            font-size: 50px;
        }
    }

    .choice__select {
        width: 80%;
        height: 120px;
        margin: 60px auto;
        background-color: #fff;
        border-radius: 25px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .choice__select_form {
            width: 25%;
            height: 100%;
            border-right: 1px solid #f5f5f5;
            display: flex;
            align-items: center;
            &:last-child {
                border-right: none;
            }
            select {
                width: auto;
                border: none;
                cursor: pointer;
                font-size: 17px;
                font-weight: 600;
                letter-spacing: 1px;
                margin-left: 50px;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

.choice__cards {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .choice__card {
        position: relative;
        width: 31%;
        border-radius: 25px;
        background-color: #fff;
        margin-top: 50px;
        &:hover {
            transition: all 0.5s;
            box-shadow: 0 32px 34px rgba(0, 0, 0, 0.137);
            img {
                transform: scale(1.1) rotate(1deg);
            }
        }

        .choice__card-img {
            width: 100%;
            height: 30%;
            overflow: hidden;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;

            img {
                width: 100%;
                object-fit: fill;
                transition: all 0.5s;
            }
        }
        .choice__card-content {
            h1 {
                font-size: 24px;
                padding: 30px;
                cursor: pointer;
            }
        }
        .choice__card-tags {
            border-top: 1px solid #F5F5F5;
            height: 60px;

            div {
                width: calc(100%/3);
                height: 100%;
                border-right: 1px solid #F5F5F5;
                float: left;
                display: flex;
                align-items: center;
                justify-content: center;
                &:last-child {
                    border: none;
                }
            }
            i {
                font-size: 16px;
                margin-right: 5px;
            }
            span {
                font-size: 17px;
                font-weight: 600;
            }
        }
    }
}

// Quote section 
.quote {
    width: 80%;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
        width: calc(100%/3);
        font-size: 24px;
        font-weight: bold;
        margin: 30px 0 40px;
    }
    .quote__slider {
        width: 100%;
    }
    .quote-client {
        width: calc(100%/3);
        padding: 30px;
        float: left;
        display: flex;
        align-items: center;
        justify-content: start;
        &.active {
            background-color: #000;
            h3 {
                color: #fff;
            }
        }
        img {
            width: 150px;
            border-radius: 50%;
        }
        h3 {
            font-size: 15px;
            margin-left: 30px;
        }
        span {
            color: #979797;
            font-weight: 400;
        }
    }
}

// Footer Styles

footer {
    background-image: linear-gradient(
        45deg
        , black, #271A00);
}

.footer__inner {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;

    .footer_title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #979797;
        padding: 30px 0;

        h1 {
            font-size: 42px;
            font-weight: bold;
            color: #fff;
            line-height: 70px;
        }
        span {
            color: #FFAC12;
        }

    }
    .footer__bottom {
        width: 100%;
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .footer-logo {
        width: 40%;

        img {
            width: 200px;
            cursor: pointer;
        }
        ul {
            width: 134px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 15px;

            i {
                font-size: 22px;
                color: #fff;
                cursor: pointer;
            }
        }
    }
    .footer-links {
        width: 20%;
        text-align: right;
        h3 {
            font-size: 15px;
            line-height: 30px;
            color: #fff;
            letter-spacing: 1px;
        }
        li {
            color: #979797;
            font-size: 15px;
            line-height: 30px;
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
                color: #fff;
            }
        }
    }
}

// Contact page

.contact {
    width: 80%;
    margin: 150px auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    form {
        width: 336px;
        height: 520px;
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 25px;
        box-shadow: 0 0 34px rgba(0, 0, 0, 0.137);

        .agent {
            height: 70px!important;
            background-color: #F5F5F5;
            border: none!important;
            padding: 15px;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                float: left;
            }
            h3 {
                font-size: 15px;
                font-weight: 400;
                letter-spacing: 1px;
            }
            span {
                font-size: 13px;
                font-weight: bold;
                color: #FFAC12;
                letter-spacing: 1px;
                margin-left: 15px;
            }
        }

        input,textarea,.agent {
            width: 296px;
            height: 60px;
            border-radius: 10px;
            border: 1px solid #EBEBEB;
            text-indent: 15px;
            &:focus {
                outline: none;
            }
        }
        textarea {
            min-height: 100px;
            line-height: 98px;
        }
        button {
            width: 296px;
            height: 70px;
            font-size: 17px;
            font-weight: bold;
            color: #fff;

            i {
                margin-left: 15px;
            }
        }
    }
    .contact-map {
        width: calc(100% - 366px);
        min-width: 500px!important;
        height: 520px;
        border-radius: 25px;
        box-shadow: 0 0 34px rgba(0, 0, 0, 0.137);
        // background-image: linear-gradient(
        //     45deg
        //     , black, #271A00);

    }
}